<div class="footer">
	<p><iframe src="http://www.facebook.com/plugins/like.php?href=http://www.facebook.com/pages/le-torte-di-chiara/67171771103&amp;layout=standard&amp;show_faces=false&amp;width:450&amp;action=like&amp;colorscheme=light&amp;width=auto&amp;height=64" scrolling="no" frameborder="0" style="border:none; overflow:hidden;width:450px;height:28px;bottom:0px;" allowTransparency="true"></iframe><a class="icon" href="http://www.facebook.com/pages/le-torte-di-chiara/67171771103" title="Visita la mia Fan Page di Facebook!"><img src="<%= @config[:site_root] %>styles/facebook-icon.png" alt="Visita la mia Fan Page di Facebook" height="32px" width="32px"/></a>  <a class="icon" href="http://blog.letortedichiara.com" title="Segui il mio blog!"><img src="<%= @config[:site_root] %>styles/posterous-icon.png" height="32px" width="32px" alt="Segui il mio blog!"/></a></p>
	<p>Copyright &copy; 2010-2011 Le torte di Chiara (P.I. 01992080992)</p>
</div>
