<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/JavaScript" src="<%= @config[:site_root] %>sources/curvycorners.src.js"></script>
<script type="text/JavaScript" src="<%= @config[:site_root] %>sources/round_elements.js"></script>
<title><%= @item[:title] %></title>
<link rel="icon" href="<%= @config[:site_root] %>images/favicon.png" type="image/png" />
