<div id="Logo">
	<div class="picture">
		<div id="headerTitle"><img src="<%= @config[:site_root] %>images/header-rosa.png" alt="Le Torte di Chiara"/></div>
		<div id="headerSubtext"></div>
	</div>
</div>
