/*fuxia based*/
/*
body {
	background: #FFFFFF url(background-fuxia.png);
	background-repeat:repeat-x;
}

.contentBox
{
color:#6736d8;
background-color:#ffffff;
border:5px solid #8f6fd8;
}
*/
/*rosa based*/

body {
	background: #FFCCFF url(background-rosa.png);
	background-repeat:repeat-x;
}

.contentBox
{
color:#9173d8;
background-color:#FFFFFF;
border:5px solid #ac99d8;
}


/*lilla based*/
/*
body {
	background: #FFFFFF url(background-lilla.png);
	background-repeat:repeat-x;
}

.contentBox
{
color:white;
background-color:#e49ae3;
border:5px solid white;
}
*/
/*white based*/
/*
body {
	background-color: #FFFFFF;
	background-repeat:repeat-x;
}

.contentBox
{
color:white;
background-color:#f7e6f8;
border:5px solid #8f6fd8;
}*/

#Logo {
	background-color:#ffffff;
}

#Logo .picture {background-color:#ffffff;}
