div#page {
	width:720px;
	height:416px;
	padding:0;
	border:5px solid #ac99d8;
}

.contentBox { width:1000px; height:640px;}

.contentBox .innerBox {width:1000px; height:640px;}

div.contentTitle{
	font-size:32px;
	padding-top:10px;
}

div.navigation-container {
	float:left;
	width: 220px;
	margin-top: 27px;
	padding-left: 40px;
}

ul.thumbs {
	padding:0;
}

ul.thumbs li {
	float:left;
	list-style:none;
	margin:5px;
	padding:0;
}

ul.thumbs li a img{
}


div.navigation a.pageLink {
	height: 92px;
	line-height: 92px;
}

	div.loader,
	div.slideshow a.advance-link {
		width:650;
		height:480;
	}

	div.slideshow a.advance-link {
		line-height: 402px;
	}

	div.slideshow-container {
		margin-right:40px;
		width: 650px;
		height: 500px;
	}

	div.slideshow span.image-wrapper {
    display: block;
    position: relative;
    margin-left:auto;
		margin-right:auto;
		top:0px;
}

ul.meta li {
	width: 135px;
	}


	div.caption-container,
	span.image-caption {
		width: 650px;
	}
