body {
	text-align:left;
	font-size: 14px;
	color: #061C37;
	font-family:	Palatino Linotype, Book Antiqua3, Palatino6, serif
}

.contentTitle
{
	font-style:italic;
	text-align:center;
	font-size:20px;
	letter-spacing:.2em;
}

.contentText
{
	font-style:normal;
	font-size:16px;
}

.contentText .center *
{
	text-align:center;
}

.footer p {
font-size:10px;
color:#000000;
text-align:center;
}

p.promo {
	font-size:20px;
	color:#000000;
	letter-spacing:.03em;
}
